node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# localdata files & folder from realm
localdata.realm.management
localdata.realm.lock
localdata.realm.note
localdata.realm
localdata.note