node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# localdata files & folder from relam
localdata.management
localdata.lock
localdata.note
localdata